.ml-auto{
    margin-left: auto;
}

.home h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.home p{
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 18pt;
}
.home{
    background-image: url("src/home-bg.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}

.center-vertical{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-me{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;   
}

.home-content{
    text-align: center;
}

.home-button{
    margin-top: 30px;
}

.home-button button{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    color: black;
    background: white;
    text-align: center;
    width: 130px;
    font-weight: 500;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}

.home-button a:hover{
    opacity: 0.7;
}

.about-me h2{
    text-transform: uppercase;
}

.about-me p{
    font-size: 13pt;
}

.projects{
    background: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.projects h2{
    text-transform: uppercase;
}

.projects p{
    font-size: 13pt;
}

.navbar{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand{
    padding-left: 15px;
}

.navbar-nav{
    padding-right: 15px;
    padding-left: 15px;
}

.underconst{
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: black;
}
.underconst h1{
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: white;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.fa a:hover{
    
    text-decoration: none;
}
.fa{
    margin: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    background: white;
    border-radius: 50%;
}

.fa:hover {
    color: black;
    text-decoration: none;
    opacity: 0.7;
  }